<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>UITableViewCell</string>
			<key>Description</key>
			<string>The name of cell</string>
			<key>Identifier</key>
			<string>cellType</string>
			<key>Name</key>
			<string>Cell To Register:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Description</key>
	<string>Provides a UIViewController + UITableView with register cell capability.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>TableView</string>
</dict>
</plist>
